@import "~boxicons/css/boxicons.min.css";
@import "vuesax/dist/vuesax.min.css";
@import "highlight.js/scss/atom-one-dark";
@import "firacode/distr/fira_code.css";

#app {
  position: relative;
}
body {
  background: #f4f7f8;
}
#app {
  height: 100%;
}
.logo {
  font-size: 3em;
  line-height: 1;
  font-family: 'Bebas Neue', cursive;
  color: #444444;
  span {
    color: #1a5cff;
    margin-left: 1px;
  }
}
.card-margin {
  margin-left: 20px;
  margin-bottom: 20px;
}
.add-button {
  .vs-card__img {
    min-height: 133px;
    font-size: 6em
  }
}
.image-placeholder {
  min-height: 133px;
  font-size: 8em;
  color: #e5e5e5;
}

.footer-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100%);
}
.con-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .vs-button {
    margin: 0;
    .vs-button__content {
      padding: 10px 30px;
      &.vs-button {
        margin-left: 10px
      }
    }
  }
}
.con-content {
  .vs-input-content {
    margin: 10px 0;
    width: calc(100%);
    .vs-input {
      width: 100%;
    }
  }
}
.not-margin {
  margin: 0;
  padding: 10px 10px 0;
}

.vs-card-content {
  &.type-5 {
    .vs-card__title {
      height: 60px;
      overflow: hidden;
    }
    .vs-card__text {
      width: 100%;
      position: absolute !important;
      bottom: -30%;
    }
    .vs-card__buttons {
      position: absolute;
    }
    .vs-card__buttons {
      opacity: 0;
      transition: .45s;
      top: 10px;
      right: -40px;

      .vs-button {
        opacity: .4;
        transition: .45s;
        &:hover {
          opacity: 1;
        }
      }
    }

    &:hover {
      .vs-card__buttons {
        opacity: 1;
        top: 10px;
        right: -20px;
      }
    }
  }
}

.components-wrapper {
  margin-top: 50px;
}

.ce-block__content, .ce-toolbar__content {
  max-width:calc(100% - 80px) !important;
}
.cdx-block {
  max-width: 100% !important;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(-15px);
  opacity: 0;
}

.editable {
  border-bottom: 2px solid transparent;
  transition: .25s;
  padding-bottom: 2px;
}

.editable:focus {
  outline: none;
  border-bottom: 2px solid #dcdcdc;
}