@import "~boxicons/css/boxicons.min.css";

#app {
  position: relative;
}
body {
  background: #f4f7f8;
}
#app {
  height: 100%;
}
.logo {
  font-size: 3em;
  line-height: 1;
  font-family: 'Bebas Neue', cursive;
  color: #444444;
  span {
    color: #1a5cff;
    margin-left: 1px;
  }
}